html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('assets/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url('assets/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url('assets/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url('assets/Lato-Black.ttf') format('truetype');
}

body{
	
	width: 100%;
	margin: auto;
	font-family: "Lato";
}

header{
	width: 100%;
	background-color:#2d303a;
	border-bottom: 6px solid #323746;
	height: 89px;
}


.logo{
	font-weight: 700;
	color: #ffffff; 
	float:left;
	font-size:23px;
	padding-top: 33px;
	text-align: center;
	height: 27px;
	margin-left: 41px;

}

.logo sup{
	margin-top: -2px;
	margin-left: 2px;
	color: #f06c64;
}

.wrapper{
	width: 1020px;
	height: 89px;
	margin:0 auto;

}
menu{
	float:right;
	margin: 39px 35px;
	}

li{
	display: inline-block;
}

li a{
	font-size: 12px;	
	color: #bfc0c3;
	text-decoration: none;
}

li a:hover{
	color: #f06c64;
}


header menu li:nth-child(even){
	
	margin:0px 10px 0px 10px;
	color: #575c70;
}

header menu li:nth-child(2){
	margin:0px 9px 0px 9px;
}

header menu li:nth-child(4){
	margin:0px 8px 0px 8px;

}

header menu li:nth-child(8){
	margin:0px 10px 0px 15px;
}
.active{
	color:#f06c64;
}


#slider{
	width: 100%;
	height: 594	px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

#content{
	height: 594px;
	width: 1020px;
	margin: 0 auto;
}
.phone-vertical{
	float:left;
	width: 260px;
	height: 496px;
	margin-top: 40px;
	background-image: url(assets/phone-vert.png);
	margin-left: -1px;
}

.phone-horizontal{
	height: 241px;
	width: 485px;
	float: right;
	margin-top: 167.8px;
	background-image: url(assets/phone-horiz.png);
	margin-right: 5px;
}

#arrow-left{
	margin-left: 33px;
	margin-right: 40px;
	display: flex;
	height: 98%;
	width: 30px;
	float: left;
	align-items: center;
	justify-content: center;
}

.arrowl{
	cursor: pointer;
	margin:0 auto;
	width:100%;
	height:40px;
	background: url(assets/left.png);
}	

#arrow-right{
	margin-right: 26px;
	margin-left: 40px;
	display: flex;
	height: 95.5%;
	width: 40px;
	float: right;
	align-items: center;
	justify-content: center;
}

.arrowr{
	cursor: pointer;
	margin:0 auto;
	width:100%;
	height:60px;
	background: url(assets/right.png);
}	

.phones{
	float: left;
	width: 811px;
	height: 100%;
	margin: 0 auto;
	}

footer{
	width: 100%;
	height: 495px;
	border-bottom: 6px solid #ffffff;
	background-color: #f2f2f2;

}

#services{
	width: 1020px;
	margin: 0 auto;
}	

#services h1{
	padding-top: 60px;
	margin-left: 40px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	font-size: 30px;
}

p{	
	letter-spacing: 0px;
	line-height: 30px;
	margin-top: 27px;
	margin-left: 40px;
	font-weight: 300;
	color: #767e9e;
	font-size: 18px;
	
}

#box{
	margin: 42px 40px 60px 40px;
	display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 60px 220px 60px 220px 60px 220px;
	grid-gap: 20px;
	grid-template-areas: 
	"pen div2 bulb div4 heart div6"
	"phone div8 bubble div10 star div12";
}

.pen{
	grid-area: pen;
	background: url(assets/pen.png) no-repeat;



}

.bulb{
	grid-area: bulb;
	background: url(assets/bulb.png) no-repeat;
}

.heart{
	grid-area: heart;
	background: url(assets/heart.png) no-repeat;
}

.phone{
	grid-area: phone;
	background: url(assets/phone.png) no-repeat;
}

.bubble{
	grid-area: bubble;
	background: url(assets/bubble.png) no-repeat;
}

.star{
	background: url(assets/star.png) no-repeat;
	grid-area: star;
}





h6{	
	/*margin-left: 10px;*/
	font-size: 18px;
	font-weight: 900;
	text-align: top;
	color: #656d89;
}

p1{	
	display: block;
	margin-top: 10px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;

}

#box:nth-child(2){
	grid-area: 2;
}

#box:nth-child(4){
	grid-area: 4;
}

#box:nth-child(6){
	grid-area: 6;
}

#box:nth-child(8){
	grid-area: 8;
}

#box:nth-child(10){
	grid-area: 10;
}

#box:nth-child(12){
	grid-area: 12;
}